<nav class="navbar navbar-expand-md navbar-dark bg-dark shadow p-3 mb-5 bg-white rounded">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">

        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" routerLink="/" routerLinkActive="active"><img src="assets/images/logo.png"
                class='img-fluid' style='max-height:100px' /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">

        </ul>
    </div>
</nav>