<form [formGroup]="creationForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="roomName">Nome stanza</label>
    <input type="text" class="form-control" id="roomName" placeholder="Inserisci nome stanza"
      formControlName="roomName">
  </div>
  <div class="form-group">
    <label for="roomPswd">Password</label>
    <input type="password" class="form-control" id="roomPswd" placeholder="Password" formControlName="roomPswd">
  </div>
  <button type="submit" [disabled]="!creationForm.valid">Submit</button>
</form>
